<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title size="large">
      home
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true"> 

  <h1>คิววันนี้คงเหลือ</h1>

  <ion-card class="card-size">
    <ion-row>
      <ion-col size="12">
        <h1>A-001</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h3>Name</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="4" class="ion-text-center">
            <img class="icon-size" src="./assets/icon/whatsapp.svg">
          </ion-col>

          <ion-col size="4" class="ion-text-center">
            <img class="icon-size" src="./assets/icon/correct.svg">
          </ion-col>

          <ion-col size="4" class="ion-text-center">
            <img class="icon-size" src="./assets/icon/criss-cross.svg">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>